.cell {
  background: rgb(252, 255, 247);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 49px;
  width: 49px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  display:block;
}
.cell.black {
  background: rgb(68, 55, 66);
}
.chessRow {
  clear: both;
  content: "";
  display: table;
}
.board {
  margin: auto;
  width: 400px;
  margin-top: 30px;
  user-select: none;
}
body {
  background-color: #312e2b;
  display: flex;
}
#moveHistory {
  overflow-y: scroll;
  width: 200px;
  height: 300px;
  border: 10px solid #999;
  overflow-x: hidden;
  background: blanchedalmond;
  border-radius: 1em;
  flex: 1;
}
.row {
  color:blanchedalmond;
}